*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main{
    height: 100%;
    width: 100%;
    
    background-color: hsl(346deg 17% 70%) ;
    display: flex;
    
}
#part1{
    height: 100%;
    width: 26%;
    /* background-color: red; */
}
#part2{
    height: 100%;
    width: 67%;
    background-color: rgb(21, 255, 0);
    background-image: url(imgpart2.jpg);
    background-size: cover;
    background-position: center;

}
#overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(161, 145,149,0.3);
}

#part3{
    height: 100%;
    width: 7%;
    /* background-color: rgb(208, 255, 0); */
}
#text-div
{
    /* height: 300px; */
    position: absolute;
    width: 400px;
   /* background-color: red; */
    left:10%;
    top: 50%;
    transform: translate(0, -50%);
}
#text-div>h1{
    font-size: 95px;
   
    font-weight: 900;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: #fff;
    line-height: 78px;
}

#small-img-div{
    height: 300px;
    width: 300px;
    /* background-color: red; */
    background-image: url(imgpart2.jpg);
    border-radius:10px;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    right: 6%;
    transform: translate(0, -50%);

}

#vertical-text{
    position: absolute;
    transform: rotate(90deg);
    right: -41%;
    top: 1%;
    text-transform: uppercase;
    transform-origin: 0% 0%;
    
    /* width: 100%; */
    /* background-color: red; */
}
#vertical-text h1{
    font-size: 70px;
    font-weight: 700;
    color: transparent;
    letter-spacing: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:white ;

}

#nav{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  left: 6%;
  top: 5%;
  /* background-color: red;   */
}

#nav img{
    height: 100px;
    border-radius: 50%;
}
#nav h5{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;


}